* {
    font-family: 'Segoe UI', sans-serif;
    box-sizing: border-box;
}

.btn-outline-orange {
    border: 1px solid #A23F00;
    color: #A23F00;
}

.btn-outline-orange:hover {
    border-color: #A23F00;
    color: #A23F00;
    font-weight: bold;
}

.btn-orange {
    background-color: #A23F00;
    color: #fff;
    border: none;
}

.btn-orange:hover {
    background-color: #A23F00;
    color: #fff;
    font-weight: bold;
}

.card img {
    height: 200px;
    object-fit: cover;
}

.card:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}

.card-wrapper {
    position: relative;
    width: 400px;
    height: 500px;
}

.image-stack {
    position: relative;
    width: 320px;
    height: 420px;
}

.custom-card {
    position: absolute;
    width: 100%;
    background: #fff;
    padding: 6px;
    border-radius: 8px;
    transition: all 0.3s ease;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.custom-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.card-img-top {
    height: 220px;  
    width: 100%;
    object-fit: cover;
}

.card {
    display: flex;
    flex-direction: column;
}

.card-body {
    flex: 1;            
}

.card-body p {
    min-height: 60px;
}

.back {
    top: 0;
    left: 0;
    transform: rotate(3deg) translate(-25px, 45px);
    z-index: 1;
}

.front {
    transform: rotate(-5deg);
    transform-origin: bottom left;
    width: 80%;
    z-index: 2;
    bottom: -70px;
    left: -50px;
    position: absolute;
}

.custom-card:hover {
    transform: scale(1.05) rotate(0deg);
}

.bubble {
    position: absolute;
    z-index: 3;
    right: -40px;
    top: 70px;
    background: #D9EAA3;
    padding: 20px 16px;
    border-radius: 14px;
    font-size: 16px;
    font-weight: bold;
    color: #56642B;
    max-width: 200px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

body h6 {
    letter-spacing: 0.08em;
}

footer, .bg-birumuda {
    background-color: #f0faffef;
}

footer h6 {
    color: #A23F00;
    letter-spacing: 0.08em;
}

.cta-box {
    background: linear-gradient(135deg, #a84300, #d95f02);
    border-radius: 25px;
    position: relative;
    transition: 0.3s ease;
}

.cta-box:hover {
    transform: scale(1.02);
}

.cta-text {
    max-width: 500px;
}

.cta-card {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    width: 250px;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: -10px;
    border: 2px solid brown;
}

body .btn-light {
    border-radius: 50px;
    padding: 10px 20px;
}